<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crud de Destino em NodeJS</title>
</head>

<body>
    <h2>Cadastrar Destino<h2>
            <form action="/show" method="POST">
                <input type="text" placeholder="Nome" name="name">
                <button type="submit">Submit</button>
            </form>
</body>

</html>