@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --roxo: #6710f2a2;
    --roxo-terc: #6f42c1;
    --preta: #080808;
    --laranja: #fa8907ef;
    --laranja-terc:#fa6007ef;
    --bg-theme: #dbd6d6ec;
    --bg-footer: #1c0a8098;
    --fonte: #222020;
}

.bg-theme{
    background-color: var(--bg-footer);
}

/* modal login */
.display-none{
    display: none;
}

/* Index main */
.bg-nav-container{
    background: linear-gradient(var(--preta), var(--preta) 100%); 
}



