<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens Aqui</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./css/Cor de Fundo.css">
    <link rel="stylesheet" href="../css/Login.css">
</head>

<body>

    <header class="img">
        <!--MENU NAV-->
        <div class="container">
            <ul>
                <li style="--i: #ffffff; --j:#00bfff">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="text">
                        <a class="nav-link active" href="Login">LOGIN</a>
                    </span>
                </li>

                <li style="--i: #ffffff; --j:#ea51ff">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">
                        <a class="nav-link active" aria-current="page" href="Home">HOME</a>
                    </span>
                </li>

                <li style="--i: #ffffff; --j:#f434e2">
                    <span class="icon">
                        <ion-icon name="airplane-outline"></ion-icon>
                    </span>
                    <span class="text">
                        <a class="nav-link active" aria-current="page" href="Destinos">DESTINOS</a>
                    </span>
                </li>

                <li style="--i: #ffffff; --j:#f434e2">
                    <span class="icon">
                        <ion-icon name="cash-outline"></ion-icon>
                    </span>
                    <span class="text">
                        <a class="nav-link active" aria-current="page" href="Promoções">PROMOÇÕES</a>
                    </span>
                </li>
                <li style="--i: #ffffff; --j:#ff5e62">
                    <span class="icon">
                        <ion-icon name="chatbox-outline"></ion-icon>
                    </span>
                    <span class="text">
                        <a class="nav-link active" aria-current="page" href="Contato">CONTATO</a>
                    </span>
                </li>
            </ul>
        </div>
        <!--FIM DO MENU NAV-->
    </header>

    <body>

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Cadastrar </h2>
                <h2 class="inactive underlineHover"> <a href="Login">Entrar</a> </h2>

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="https://cdn-icons-png.flaticon.com/512/2143/2143305.png" id="icon" alt="User Icon" />
                </div>

                <!-- Login Formulario -->
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login"
                        placeholder="Escolha um nome de usuário">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="Escolha uma senha">
                    <input type="submit" class="fadeIn fourth" value="Cadastrar">
                </form>

                <!-- lembrar senha -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Esqueceu sua senha?</a> <br><br>
                    <a class="underlineHover" href="Home">Início</a>
                </div>

            </div>
        </div>
        <!--INICIO DO FOOTER-->
        <footer class="bg-dark text-center text-white">

            <div class="container p-4">

                <section class="mb-4">
                    <form>

                        <div class="row d-flex justify-content-center">

                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong>Cadastre seu e-mail e ganhe prêmios!</strong>
                                </p>
                            </div>



                            <div class="col-md-5 col-12">

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="form5Example21" class="form-control" />
                                    <label class="form-label" for="form5Example21">Endereço de e-mail</label>
                                </div>
                            </div>



                            <div class="col-auto">

                                <button type="submit" class="btn btn-outline-light mb-4">
                                    Cadastrar
                                </button>
                            </div>

                        </div>

                        <div class="text-center p-3" style="background-color: rgba(255, 0, 0, 0.2);">
                            Pedro Viagens © 2022 Copyright: Todos os direitos reservados.
                            <a class="text-white" href=""></a>
                        </div>
                    </form>
                </section>
            </div>
        </footer>


        <!--FIM DO FOOTER-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>

</html>