<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crud de Usuário em NodeJS</title>
</head>

<body>
    <h2>Cadastrar<h2>
            <form action="/show" method="POST">
                <input type="text" placeholder="Nome" name="name">
                <input type="text" placeholder="Email" name="email">
                <input type="text" placeholder="Senha" name="senha">
                <button type="submit">Submit</button>
            </form>
</body>

</html>